<div *ngIf="hero && weapons && heroWeapon">
  <h2>{{hero.name | uppercase}} / Details of the hero</h2>
  <label>
    40 points à répartir pour pouvoir modifier le héros.
  </label>
  <label>
    Point(s) à répartir disponible(s) : {{ getPointsDisponibles(40 - (hero.attaque + hero.esquive + hero.degats + hero.pv)) }}
  </label>
  <div>
    <label name="Nom">Nom :
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
    <label name="Attaque">Attaque :
      <input [(ngModel)]="hero.attaque" type="number" min="1" max="37" placeholder="attaque"/>
    </label>
    <label name="Degats">Dégâts :
      <input [(ngModel)]="hero.degats" type="number" min="1" max="37" placeholder="dégâts"/>
    </label>
    <label name="Esquive">Esquive :
      <input [(ngModel)]="hero.esquive" type="number" min="1" max="37" placeholder="esquive"/>
    </label>
    <label name="Points de vie">Points de vie :
      <input [(ngModel)]="hero.pv" type="number" min="1" max="37" placeholder="points de vie"/>
    </label>
    <label>Arme :
      <select [(ngModel)]="hero.weaponId" name="Weapon">
        <option [value]=""> No weapon</option>
        <option id="{{weapon.id}}" *ngFor="let weapon of weapons" [value]="weapon.id"> {{weapon.name}}
        </option>
      </select>
    </label>
  </div>
  <div class="btn-position">
    <button (click)="goBack()">go back</button>
  </div>
  <div class="btn-position">
    <button id="btn-enregistrer" [disabled]="estValideFormulaire(hero.attaque + hero.esquive + hero.degats + hero.pv)" (click)="save()"> Enregistrer les modifications</button>
  </div>
</div>
