button {
  margin-top: 20px;
  font-family: Verdana;
  background-color: #478bf9;
  border: none;
  padding: 5px 10px;
  border-radius:12px 0 12px 0;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: gray;
  cursor: auto;
}
